In [111]:
import bokeh
import pandas as pd
import json
from lxml import html
from collections import defaultdict
import requests
import json

In [112]:
import parse_html

In [113]:
from pandas.io.json import json_normalize
d = from_html_to_json('https://www.fio.cz/ib2/transparent?a=2600088789')
data = json.loads(d)
json_normalize(data)

,0.KS,0.SS,0.VS,0.amount,0.date,0.messege,0.name,0.note,0.type,1.KS,...,8.type,9.KS,9.SS,9.VS,9.amount,9.date,9.messege,9.name,9.note,9.type
0,0000,,7511041582,500.0,15.06.2017,\n\t\t,Martin Literák,Martin Literák,Bezhotovostní příjem,,...,Bezhotovostní příjem,,,11501,222.0,02.06.2017,\n\t\t,Bučková Bronislava,Bučková Bronislava,Bezhotovostní příjem